+e.departments
  +e.department
    +e('button')(type="button").department-toggle.js-department-toggle Руководство
      span
    +e.department-content
      +e.department-worker
        +e.department-worker-row
          +e.department-worker-overimg
            +e('img')(src=tmpsrc+"worker.jpg" alt="").department-worker-img
          +e.department-worker-info
            +e('p').department-worker-name Глухов Алексей Владимирович
            +e('a')(href="tel:+78452448888").department-worker-phone +7 (8452) 44-88-88 (доб.888)
            +e('a')(href="mailto:ko@gazlider.ru").department-worker-email ko@gazlider.ru
  +e.department
    +e('button')(type="button").department-toggle.js-department-toggle Отдел продаж
      span
    +e.department-content
      +e.department-worker
        +e.department-worker-row
          +e.department-worker-overimg
            +e('img')(src=tmpsrc+"worker.jpg" alt="").department-worker-img
          +e.department-worker-info
            +e('p').department-worker-name Глухов Алексей Владимирович
            +e('a')(href="tel:+78452448888").department-worker-phone +7 (8452) 44-88-88 (доб.888)
            +e('a')(href="mailto:ko@gazlider.ru").department-worker-email ko@gazlider.ru
  +e.department
    +e('button')(type="button").department-toggle.js-department-toggle Сервисный центр
      span
    +e.department-content
      +e.department-shedule
        +e('p').department-shedule-title Режим работы
        +e('ul').department-shedule-list
          +e('li').department-shedule-item
            +e('p').department-shedule-left 
              span Будни
            +e('p').department-shedule-right с 08:00 до 17:00
          +e('li').department-shedule-item
            +e('p').department-shedule-left 
              span Суббота
            +e('p').department-shedule-right с 08:00 до 15:00
          +e('li').department-shedule-item
            +e('p').department-shedule-left 
              span Воскресенье
            +e('p').department-shedule-right выходной
      +e.department-worker
        +e('p').department-worker-pos Руководитель отдела доработки и переоборудования а/м
        +e.department-worker-row
          +e.department-worker-overimg
            +e('img')(src=tmpsrc+"worker2.jpg" alt="").department-worker-img
          +e.department-worker-info
            +e('p').department-worker-name Глухов Алексей Владимирович
            +e('a')(href="tel:+78452448888").department-worker-phone +7 (8452) 44-88-88 (доб.888)
            +e('a')(href="mailto:ko@gazlider.ru").department-worker-email ko@gazlider.ru
      +e.department-worker
        +e('p').department-worker-pos Руководитель отдела запасных частей
        +e.department-worker-row
          +e.department-worker-overimg
            +e('img')(src=tmpsrc+"worker3.jpg" alt="").department-worker-img
          +e.department-worker-info
            +e('p').department-worker-name Колядов Андрей Владимирович
            +e('a')(href="tel:+78452448888").department-worker-phone +7 (8452) 44-88-88 (доб.410)
            +e('a')(href="mailto:ko@gazlider.ru").department-worker-email a.kolyadov@gazlider.ru
  +e.department
    +e('button')(type="button").department-toggle.js-department-toggle Отдел маркетинга и рекламы
      span
    +e.department-content
      +e.department-worker
        +e.department-worker-row
          +e.department-worker-overimg
            +e('img')(src=tmpsrc+"worker.jpg" alt="").department-worker-img
          +e.department-worker-info
            +e('p').department-worker-name Глухов Алексей Владимирович
            +e('a')(href="tel:+78452448888").department-worker-phone +7 (8452) 44-88-88 (доб.888)
            +e('a')(href="mailto:ko@gazlider.ru").department-worker-email ko@gazlider.ru
  +e.department
    +e('button')(type="button").department-toggle.js-department-toggle Trade-in
      span
    +e.department-content
      +e.department-worker
        +e.department-worker-row
          +e.department-worker-overimg
            +e('img')(src=tmpsrc+"worker.jpg" alt="").department-worker-img
          +e.department-worker-info
            +e('p').department-worker-name Глухов Алексей Владимирович
            +e('a')(href="tel:+78452448888").department-worker-phone +7 (8452) 44-88-88 (доб.888)
            +e('a')(href="mailto:ko@gazlider.ru").department-worker-email ko@gazlider.ru
