extends includes/template/base.pug

block variables
  - var title = "Заказ запчастей в «ГК Лидер»";
  - var tmpsrc = 'static/img/';

block main

  +breads(['Главная', 'Запчасти'])
  
  +b('section').section-top
    .swiper-container.js-top-swiper
      .swiper-wrapper
        .swiper-slide
          +content([
            {cover: tmpsrc+'top-cover4.jpg'}
          ])
        .swiper-slide
          +content([
            {cover: tmpsrc+'top-cover2.jpg'}
          ])
        .swiper-slide
          +content([
            {cover: tmpsrc+'top-cover3.jpg'}
          ])
      .swiper-nav
        .swiper-count
          p.swiper-count-item 01
          p.swiper-count-all 03
        .swiper-buttons
          .swiper-button-prev
          .swiper-button-next

  .container
    h1.main__title #{title}

    +b('section').order-parts
      +e.left
        .wis-content
          p Значимость этих проблем настолько очевидна, что консультация с широким активом представляет собой интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа модели развития.
          p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений.
      +e.right
        +e('a')(href="#").download-price 
          span Скачать прайслист

    +b('section').brands
      +e('ul').list
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo.png" alt="").item-logo-img
            +e('span').item-title ГАЗ
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo2.png" alt="").item-logo-img
            +e('span').item-title ЯМЗ
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo3.png" alt="").item-logo-img
            +e('span').item-title ММЗ
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo4.png" alt="").item-logo-img
            +e('span').item-title УМЗ
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo5.png" alt="").item-logo-img
            +e('span').item-title Cummins
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo6.png" alt="").item-logo-img
            +e('span').item-title Continental
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo7.png" alt="").item-logo-img
            +e('span').item-title PEKAR
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo8.png" alt="").item-logo-img
            +e('span').item-title MANN FILTER
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo9.png" alt="").item-logo-img
            +e('span').item-title РТИ
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo10.png" alt="").item-logo-img
            +e('span').item-title ЗМЗ
        +e('li').list-item
          +e('a')(href="#").item-href
            +e('span').item-logo
              +e('img')(src=tmpsrc+"brands/brands-logo11.png" alt="").item-logo-img
            +e('span').item-title Buzuluk
    
  +b('section').feedback
    +e('h2').title.title.--center Рассчитать стоимость запчастей
    +b('form').form
      +e.row
        +e.field.--min
          +e('input')(type="text" id="inp01" data-req="req").field-input
          +e('label')(for="inp01").field-label ФИО 
            span.red *
        +e.field.--min
          +e('select')(data-req="req" data-type="select").field-select.--validate.select.js-select
            option(placeholder) Выберите модель
            option Модель 1
            option Модель 2
            option Модель 3
        +e.field.--min
          +e('input')(type="text" id="inp02" data-req="req").field-input.js-phone
          +e('label')(for="inp02").field-label Номер телефона
            span.red *
        +e.field
          +e('textarea')(id="text").field-textarea
          +e('label')(for="text").field-label Ваш комментарий
      +e.row
        +e('p').agreement Обратите внимание, отправляя данную форму, вы даёте согласие на 
          a(href="#") обработку персональных данных
        +e('p').warning 
          span.red *
          |  - поля обязательны для заполнения
      +e.row
        +e.field.--min.--center
          +e('button')(type="submit").field-submit.btn.--blue  Отправить заявку
  
  +b('section').filials
    +e.map.js-map(data-center="51.533103, 46.034158")
    +e.items
      +e.item
        +e.item-left
          +e('p').item-title АвтоцентрГАЗ-Лидер
          +e('address').item-address Саратов, проспект Ленина, 186
          +e.item-data
            a(href="tel:+79083741220") +7 (908) 374-12-20
        +e.item-right
          
      +e.item
        +e.item-left
          +e('p').item-title АвтоцентрГАЗ-СаратовЮГ
          +e('address').item-address ул. Куйбышева, 13
          +e.item-data
            a(href="tel:+79045000880") +7 (904) 500-08-80
        +e.item-right
      +e.item
        +e.item-left
          +e('p').item-title Энгельский филиал АвтоцентрГАЗ-СаратовЮГ
          +e('address').item-address Проспект победы, 24
          +e.item-data
            a(href="tel:+79083741220") +7 (908) 374-12-20
        +e.item-right
